@import url(https://fonts.googleapis.com/css?family=Raleway&display=swap);
body {
  background-color: rgb(252, 252, 252);

  text-align: center;
  padding-top: 300px;
  font-size: 30px;
}
.btn {
  background-color: rgb(252, 252, 252);
  border: 2px solid green;
  padding: 15px;
  font-size: 20px;
  border-radius: 20px;
  color: green;
  font-weight: bold;
}
.btn:hover {
  background-color: green;
  border: 2px solid rgb(252, 252, 252);
  color: rgb(252, 252, 252);
}

body{color:green;font-family:"Raleway", sans-serif}

