//font

@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

// @import "../bower/vendor/foundation-sites/assets/foundation.scss";

// @import "../bower/vendor/motion-ui/src/motion-ui.scss";

$green: green;
body {
  color: $green;
  font-family: "Raleway", sans-serif;
}
